/* body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
  }
   */
  .navbar {
    background-color: #007bff; /* Navbar background color (Bootstrap primary color) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  .navbar-brand {
    /* color: #fff; */
    color: #212529;
    font-weight: bold;
    font-size: 24px;
  }
  
  .navbar-nav .nav-link {
    /* color: #fff; */
    font-weight: 500;
    color: #212529;
    margin-right: 20px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffc107; /* Bootstrap warning color on hover */
  }
  
  .navbar-toggler-icon {
    background-color: #fff;
  }
  
  .login-btn {
    background-color: #ffc107;
    color: #212529;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #ffca3a;
  }
  
  .signup-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .signup-btn:hover {
    background-color: #218838;
  }
  